@import "../partials/vars";

.community {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--textColor);
	color: var(--background);
	backdrop-filter: blur(12px);
	padding: 100px 20px;
	text-align: center;

	.community__monkey {
		width: 300px;
		position: absolute;
		right: 0;
		bottom:-10px;

		.main__header-rightLottie{
			width: 100%;
		}
	}
}